In [15]:
import pandas as pd
%pip install apyori
import apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [16]:
dados = pd.read_csv('basket_analysis.csv')
dados

     Unnamed: 0  Apple  Bread  Butter  ...  Sugar  Unicorn  Yogurt  chocolate
0             0  False   True   False  ...   True    False    True       True
1             1  False  False   False  ...  False    False   False      False
2             2   True  False    True  ...  False    False    True       True
3             3  False  False    True  ...  False    False   False      False
4             4   True   True   False  ...  False    False   False      False
..          ...    ...    ...     ...  ...    ...      ...     ...        ...
994         994  False   True   False  ...  False     True   False       True
995         995   True  False   False  ...  False    False    True      False
996         996   True  False   False  ...   True    False   False       True
997         997  False  False    True  ...   True    False    True       True
998         998  False  False   False  ...  False    False   False       True

[999 rows x 17 columns]

In [17]:
cadastros = []
for i, linha in dados.iterrows():
  cadastro = []
  if(linha['Apple'] == True):
    cadastro.append('Apple')
  if(linha['Bread'] == True):
    cadastro.append('Bread')
  if(linha['Butter'] == True):
    cadastro.append('Butter')
  if(linha['Cheese'] == True):
    cadastro.append('Cheese')
  if(linha['Corn'] == True):
    cadastro.append('Corn')
  if(linha['Dill'] == True):
    cadastro.append('Dill')
  if(linha['Eggs'] == True):
    cadastro.append('Eggs')
  if(linha['Ice cream'] == True):
    cadastro.append('Ice cream')
  if(linha['Kidney Beans'] == True):
    cadastro.append('Kidney Beans')
  if(linha['Milk'] == True):
    cadastro.append('Milk')
  if(linha['Nutmeg'] == True):
    cadastro.append('Nutmeg')
  if(linha['Onion'] == True):
    cadastro.append('Onion')
  if(linha['Sugar'] == True):
    cadastro.append('Sugar')
  if(linha['Unicorn'] == True):
    cadastro.append('Unicorn')
  if(linha['Yogurt'] == True):
    cadastro.append('Yogurt')
  if(linha['chocolate'] == True):
    cadastro.append('chocolate')
  cadastros.append(cadastro)

In [18]:
conjuntoRegras = apyori.apriori(cadastros, min_support = 0.01, min_confidence = 0.95, min_lift = 1.75)
listaConjuntoRegras = list(conjuntoRegras)

In [19]:
for item in listaConjuntoRegras:
  item2 = item[2]
  print(str(list(item2[0][0])) + ' -> ' + str(list(item2[0][1])))

['Nutmeg', 'Corn', 'Sugar', 'Butter', 'Bread', 'Eggs'] -> ['Apple']
['Nutmeg', 'Cheese', 'Sugar', 'Apple', 'Unicorn', 'Milk'] -> ['Corn']
['Nutmeg', 'Cheese', 'Sugar', 'Apple', 'chocolate', 'Unicorn'] -> ['Corn']
['Nutmeg', 'Corn', 'Apple', 'Onion', 'Ice cream', 'Eggs'] -> ['Sugar']
['Nutmeg', 'Apple', 'Yogurt', 'Onion', 'Kidney Beans', 'Unicorn'] -> ['chocolate']
['Corn', 'Butter', 'Bread', 'Yogurt', 'Ice cream', 'Milk'] -> ['Kidney Beans']
['Nutmeg', 'Corn', 'Sugar', 'Butter', 'Bread', 'Milk'] -> ['Kidney Beans']
['Corn', 'Butter', 'Bread', 'Yogurt', 'Onion', 'Milk'] -> ['Kidney Beans']
['Nutmeg', 'Sugar', 'Bread', 'Onion', 'Ice cream', 'chocolate'] -> ['Butter']
['Nutmeg', 'Corn', 'Sugar', 'Bread', 'Onion', 'Milk'] -> ['Kidney Beans']
['Nutmeg', 'Corn', 'Bread', 'Onion', 'Unicorn', 'Milk'] -> ['Kidney Beans']
['Nutmeg', 'Corn', 'Sugar', 'Butter', 'Ice cream', 'Milk'] -> ['Kidney Beans']
['Nutmeg', 'Corn', 'Butter', 'Yogurt', 'Ice cream', 'Milk'] -> ['Kidney Beans']